{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity</title>
    <!-- load css -->
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">

    <!-- load js -->
    <script src="{% static 'main/js/main.js' %}"></script>

    {%block jsLibraries%}
    <!-- place external js libraries here -->
    {%endblock%}
</head>

<body>
    {% block sidebar %}
    
    {% endblock %}

    {% block content %}

    {% endblock %}
</body>

</html>